app = "lenta-nahodok"

kill_signal = "SIGINT"
kill_timeout = 5
processes = []

[env]
BOT_TOKEN = "ВАШ_BOT_TOKEN"
CHANNEL_ID = "@ВашКанал"

[[services]]
  internal_port = 8080
  protocol = "tcp"

  [[services.ports]]
    port = 8080
    handlers = ["http"]
